/*Element Styles*/
body {
  padding: 0px;
  font-family: Roboto Condensed;
  margin: 0px;
  color: #4487BA;
  min-width: 375px;
}

a {
  text-decoration: none;
  color: #4487BA;
}

 a:visited {
    text-decoration: none;
    color: #4487BA;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

img {
  width: 100%;
}

/*ID Styles*/
#logo {
  margin-left: 5px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#hero {
  background-color: #065FA3;
  color: #E0E0E0;
  height: 350px;
  font-size: 28px;
  justify-content: center;
}

#hero h1 {
  font-size: 125px;
  margin: auto;
}

#hero .right-content  {
 text-align: left;
}

#fat-footer {
  background-color: #2B3033;
  align-items: baseline;
}

#fat-footer h1 {
  margin: 0px;
}

#footer {
  background-color: #E0E0E0;
  font-size: 12px;
  justify-content: flex-start;
  text-align: left;
}

/*Class Styles*/
.section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
}

.section-a {
  background-color: white;
  flex-wrap: wrap;
}

.section-b {
  background-color: #065FA3;
  flex-wrap: wrap-reverse;
  color: #E0E0E0;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.footer-container {
  display: flex;
  text-align: left;
  padding: 10px;
}

.content-item{
  width: 375px;
  height: 667px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.content-text{
  width: 375px;
  margin: auto;
}

.placeholder-a{
  background-color: pink;
}

.placeholder-b {
  background-color: green;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: auto;
  margin-right: 5px;

}

.nav-links li {
  display: inline-block;
  padding-left: 5px;
}

.front-panel {
    display: inline-block;
    width: 375px;
    height: 667px;
    position: relative;
    font-family: inherit;
    text-align: inherit;
}

/*Overrides for small viewports */
@media (max-width: 900px) {
  #hero h1 {
    font-size: 76px;
  }
  #hero {
    font-size: 18px;
  }
}

@media (max-width: 750px) {
  #hero .right-content {
  }
  #hero h1 {
    font-size: 48px;
  }
  #hero {
    font-size: 11px;
  }
  #fat-footer {
    font-size: 11px;
  }
  .content-item {
    height: inherit;
  }
  .front-panel {
    height: 667px;
  }
}

/*Styles From Web VI */
[data-ni-base-style] {
  position: relative;
}

jqx-slider[ni-control-id='28'] {
  left: 20px;
  top: 450px;
  width: 250px;
  height: 62px;
  font-size: 12px;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

jqx-slider[ni-control-id='31'] {
  left: 20px;
  top: 575px;
  width: 250px;
  height: 62px;
  font-size: 12px;
  font-family: Roboto Condensed,
  sans-serif; font-style:
  normal;
  font-weight: normal;
  text-decoration: none;
}

jqx-tank[ni-control-id='38'] {
  left: 300px;
  top: 450px;
  width: 75px;
  height: 200px;
  font-size: 12px;
  font-family: Roboto Condensed, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ni-cartesian-graph[ni-control-id='64'] {
  left: 0px; top: 0px; width: 375px; height: 667px; font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; color: rgba(43,48,51,1);
}
ni-cartesian-axis[ni-control-id='65'] {
  font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-cartesian-axis[ni-control-id='66'] {
  font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-cartesian-plot[ni-control-id='67'] {
  font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-cartesian-plot[ni-control-id='213'] {
  font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-cursor[ni-control-id='211'] {
  font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-cursor[ni-control-id='212'] {
  font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-scale-legend[ni-control-id='71'] {
  left: 0px; top: 0px; width: 150px; height: 60px; font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-plot-legend[ni-control-id='72'] {
  left: 0px; top: 0px; width: 150px; height: 52px; font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-cursor-legend[ni-control-id='73'] {
  left: 0px; top: 0px; width: 375px; height: 120px; font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-graph-tools[ni-control-id='74'] {
  left: 0px; top: 0px; width: 152px; height: 30px; font-size: 12px; font-family: Segoe UI, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
  background-color: white;
}

ni-gauge[ni-control-id='90'] {
  left: 0px; top: 36px; width: 290px; height: 290px; font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}

jqx-circular-progress-bar[ni-control-id='95'] {
  left: 31px; top: 39px; width: 250px; height: 250px;
}

jqx-numeric-text-box[ni-control-id='100'] {
  left: 17px; top: 359px; width: 170px; height: 40px; font-size: 24px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}

jqx-numeric-text-box[ni-control-id='103'] {
  left: 200px; top: 359px; width: 170px; height: 40px; font-size: 24px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}

ni-data-grid[ni-control-id='112'] {
  left: 0px; top: 410px; width: 350px; height: 232px; font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
ni-string-control[ni-control-id='114'] {
  font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}
jqx-led[ni-control-id='149'] {
  font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}

jqx-slider[ni-control-id='129'] {
  left: 300px; top: 36px; width: 56px; height: 296px; font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}

jqx-slider[ni-control-id='132'] {
  left: 300px; top: 36px; width: 64px; height: 296px; font-size: 12px; font-family: Roboto Condensed, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;
}

/*JQX Overrides*/
/*Fix progress bar position */
jqx-circular-progress-bar svg:first-of-type {
    position: relative;
  }

/*Change tank fill color*/
jqx-tank .jqx-value {
    background-color: #4487BA;
}

jqx-circular-progress-bar .jqx-value {
    stroke: #4487BA;
}

/*Fix text input styling on iOS*/
jqx-numeric-text-box input.jqx-numeric-text-box-component {
    -webkit-appearance:none;
    border-radius: 0px;
}
