/**************************************
 * NI Icon Styles
 * National Instruments Copyright 2016
 *
 * CSS Classes for NI Icons
 **************************************/

/**************************************
 * THIS FILE IS GENERATED, DO NOT MANUALLY EDIT
 * See HTMLControls.Design\StandaloneTools\iconbundler\README.txt for more information
 **************************************/

.ni-1-pixel-line-width-icon, .ni-solid-line-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-width-1%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M0%208h16v1H0z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-2-pixels-line-width-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-width-2%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M0%207h16v2H0z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-3-pixels-line-width-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-width-3%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M0%207h16v3H0z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-4-pixels-line-width-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-width-4%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M0%206h16v4H0z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-5-pixels-line-width-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-width-5%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M0%205h16v5H0z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-arrow-down-icon, .ni-decrement-icon, .ni-open-icon, .jqx-icon-arrow-down, .jqx-icon-arrow-down-hover, .jqx-icon-arrow-down-selected {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eni-arrow-down-icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M8%2011L3%205h10l-5%206z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-arrow-left-icon, .jqx-icon-arrow-left, .jqx-icon-arrow-left-hover, .jqx-icon-arrow-left-selected {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eni-arrow-left-icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M5%208l6-5v10L5%208z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-arrow-right-icon, .ni-closed-icon, .jqx-icon-arrow-right, .jqx-icon-arrow-right-hover, .jqx-icon-arrow-right-selected {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eni-arrow-right-icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M11%208l-6%205V3l6%205z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-arrow-up-icon, .ni-increment-icon, .jqx-icon-arrow-up, .jqx-icon-arrow-up-hover, .jqx-icon-arrow-up-selected {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eni-arrow-up-icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M8%205l5%206H3l5-6z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-bar-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-bar%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M1%208h3v7H1zM4%202h3v5H4zM9%200h3v7H9zM0%207h16v1H0zM12%208h3v7h-3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-both-crosshair-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-cursor-both%3C%2Ftitle%3E%3Cpath%20d%3D%22M7%202h2v3.17A3%203%200%200%201%2010.83%207H14v2h-3.17A3%203%200%200%201%209%2010.83V14H7v-3.17A3%203%200%200%201%205.17%209H2V7h3.17A3%203%200%200%201%207%205.17V2m1%204a2%202%200%201%200%202%202%202%202%200%200%200-2-2z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-calendar-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-calender%3C%2Ftitle%3E%3Cpath%20d%3D%22M13%202V1h-1v1h-2V1H9v1H7V1H6v1H4V1H3v1H1v13h14V2zm1%2012H2V4h12zM5%207H3V5h2zm4%200H7V5h2zm4%200h-2V5h2zm-8%203H3V8h2zm4%200H7V8h2zm4%200h-2V8h2zm-8%203H3v-2h2zm4%200H7v-2h2zm4%200h-2v-2h2z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-center-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-center%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M7%208L4%206v1H1v2h3v1l3-2zM15%207h-3V6L9%208l3%202V9h3V7zM8%207l2-3H9V1H7v3H6l2%203zM8%209l-2%203h1v3h2v-3h1L8%209z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-check-mark-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-checkBox%3C%2Ftitle%3E%3Cpath%20d%3D%22M5.52%2015L1%208.51l1-1L5.43%2010C6.49%208.76%207.5%207.55%208.57%206.39a35.75%2035.75%200%200%201%204.27-3.83A3%203%200%200%201%2015%202.12C11.06%205.9%208.25%2010.44%205.52%2015z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-cross-point-style-icon, .ni-delete-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-target-cross%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M13.05%204.48l-1.43-1.43-3.57%203.57-3.57-3.57-1.43%201.43%203.57%203.57-3.57%203.57%201.43%201.43%203.57-3.57%203.57%203.57%201.43-1.43-3.57-3.57%203.57-3.57z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-diamond-point-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-target-diamond%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M8%202.007l6.003%206.004L8%2014.014%201.997%208.011z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-dot-dash-line-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eni-dot-dash-line-style-icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M3%207h3v1H3zM10%207h3v1h-3z%22%2F%3E%3Ccircle%20cx%3D%221%22%20cy%3D%227.5%22%20r%3D%221%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%227.5%22%20r%3D%221%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%228%22%20cy%3D%227.5%22%20r%3D%221%22%20fill%3D%22%23575757%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2323acff%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M-48%2026h74v-36h289v160H-48V26z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-dot-line-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-style-dot%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M3%208h1v1H3zM5%208h1v1H5zM7%208h1v1H7zM1%208h1v1H1zM15%208h1v1h-1zM13%208h1v1h-1zM11%208h1v1h-1zM9%208h1v1H9z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-ellipse-point-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-target-ellipse%3C%2Ftitle%3E%3Cellipse%20cx%3D%228%22%20cy%3D%228%22%20rx%3D%226%22%20ry%3D%223%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-fill-base-line-negative-infinity-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-fill-base-line-neg%3C%2Ftitle%3E%3Cpath%20d%3D%22M8.5%2011.9c.83%200%201.5-2%201.5-4.4V7H7v.5c0%202.43.67%204.4%201.5%204.4zM15%207v.5c0%201.91.42%203.52%201%204.13V7zM4.5%203.1C5.27%203.1%205.9%204.81%206%207h1c-.13-2.8-1.2-5-2.5-5S2.13%204.2%202%207h1c.1-2.19.73-3.9%201.5-3.9zM12.5%203.1c.77%200%201.4%201.71%201.48%203.9h1c-.11-2.8-1.18-5-2.49-5S10.13%204.2%2010%207h1c.1-2.19.73-3.9%201.5-3.9zM2%207.5V7H0v4.63a.73.73%200%200%200%20.5.27c.83%200%201.5-1.97%201.5-4.4z%22%20fill%3D%22%23575757%22%2F%3E%3Cpath%20d%3D%22M14%208v-.5V7h-3v1c-.11%202.8-1.18%205-2.49%205S6.13%2010.8%206%208v-.5V7H3v1c-.13%202.8-1.2%205-2.5%205a1.22%201.22%200%200%201-.5-.11V16h16v-3.11c-1.07-.48-1.88-2.46-2-4.89z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-fill-base-line-none-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-fill-base-line%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M0%208h16v1H0z%22%2F%3E%3Cpath%20d%3D%22M15%208.5V8c-.11-2.8-1.18-5-2.49-5S10.13%205.2%2010%208v.5c0%202.43-.67%204.4-1.5%204.4S7%2010.93%207%208.5V8c-.13-2.8-1.2-5-2.5-5S2.13%205.2%202%208v.5c0%202.43-.67%204.4-1.5%204.4a.73.73%200%200%201-.5-.27v1.26a1.22%201.22%200%200%200%20.5.11c1.3%200%202.37-2.2%202.5-5v-.5c0-2.43.67-4.4%201.5-4.4S6%206.07%206%208.5V9c.11%202.8%201.18%205%202.49%205s2.38-2.2%202.51-5v-.5c0-2.43.67-4.4%201.5-4.4s1.5%202%201.5%204.4V9c.1%202.43.91%204.41%202%204.89v-1.26c-.58-.63-1-2.22-1-4.13z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-fill-base-line-positive-infinity-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-fill-base-line-pos%3C%2Ftitle%3E%3Cpath%20d%3D%22M12.5%203.1c-.83%200-1.5%202-1.5%204.4V8h3v-.5c0-2.43-.67-4.4-1.5-4.4zM4.5%203.1c-.83%200-1.5%202-1.5%204.4V8h3v-.5c0-2.43-.67-4.4-1.5-4.4zM16%2012.89v-1.26A6.24%206.24%200%200%201%2015%208h-1c.12%202.43.93%204.41%202%204.89zM.5%2011.9a.73.73%200%200%201-.5-.27v1.26a1.22%201.22%200%200%200%20.5.11c1.3%200%202.37-2.2%202.5-5H2c-.1%202.19-.73%203.9-1.5%203.9zM8.5%2011.9c-.77%200-1.4-1.71-1.5-3.9H6c.11%202.8%201.18%205%202.49%205s2.38-2.2%202.51-5h-1c-.1%202.19-.73%203.9-1.5%203.9z%22%20fill%3D%22%23575757%22%2F%3E%3Cpath%20d%3D%22M0%200v8h2v-.5V7c.13-2.8%201.2-5%202.5-5S6.87%204.2%207%207v1h3v-.5V7c.11-2.8%201.18-5%202.49-5S14.87%204.2%2015%207v1h1V0z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-fill-to-zero-style-icon, .ni-fill-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-fill-to-zero%3C%2Ftitle%3E%3Cpath%20d%3D%22M8%2012c1.1%200%202-1.79%202-4H6c0%202.21.9%204%202%204zM12%204c-1.1%200-2%201.79-2%204h4c0-2.21-.9-4-2-4zM4%204C2.9%204%202%205.79%202%208h4c0-2.21-.9-4-2-4zM0%2012c1.1%200%202-1.79%202-4H0zM14%208c0%202.21.9%204%202%204V8z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-horizontal-crosshair-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-cursor-horz%3C%2Ftitle%3E%3Cpath%20d%3D%22M10.82%207a3%203%200%200%200-5.64%200H2v2h3.18a3%203%200%200%200%205.63%200H14V7zM8%2010a2%202%200%201%201%202-2%202%202%200%200%201-2%202z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-large-dash-line-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-style-dash-lrg%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M6%208h4v1H6zM1%208h4v1H1zM11%208h4v1h-4z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-line-and-point-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-point%3C%2Ftitle%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1.5%2014.5l4-8%204%203%205-7%22%2F%3E%3Ccircle%20cx%3D%221.5%22%20cy%3D%2214.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%2214.5%22%20cy%3D%222.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%229.5%22%20cy%3D%229.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%225.5%22%20cy%3D%226.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-line-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line%3C%2Ftitle%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23575757%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1.5%2014.5l4-8%204%203%205-7%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-locked-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-tools-scaleUnlock%3C%2Ftitle%3E%3Cpath%20d%3D%22M12%207V5a4%204%200%200%200-8%200v2H3v8h10V7zM6%205a2%202%200%200%201%204%200v2H6z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-medium-dash-line-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-line-style-dash-med%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M1%208h3v1H1zM5%208h3v1H5zM9%208h3v1H9zM13%208h3v1h-3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-no-crosshair-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-cursor-none%3C%2Ftitle%3E%3Cpath%20d%3D%22M8%205a3%203%200%201%200%203%203%203%203%200%200%200-3-3zm0%205a2%202%200%201%201%202-2%202%202%200%200%201-2%202z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-pan-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-tools-pan%3C%2Ftitle%3E%3Cpath%20d%3D%22M8%206a2%202%200%201%200%202%202%202%202%200%200%200-2-2m0-1a3%203%200%201%201-3%203%203%203%200%200%201%203-3zm0%2010l-3-3h6zm7-7l-3%203V5zM8%201l3%203H5zM1%208l3-3v6z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-plus-point-style-icon, .ni-add-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-target-point%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M13%207H9V3H7v4H3v2h4v4h2V9h4V7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-point-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-plot-point%3C%2Ftitle%3E%3Ccircle%20cx%3D%221.5%22%20cy%3D%2214.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%2214.5%22%20cy%3D%222.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%229.5%22%20cy%3D%229.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3Ccircle%20cx%3D%225.5%22%20cy%3D%226.5%22%20r%3D%221.5%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-rect-point-style-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-target-rect%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M3%203h10v10H3z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-scale-once-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-tools-scaleOnce%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M10.39%206.29l2.34-2.34.49%202.34L15%201%209.69%202.76l2.34.48-2.34%202.34.7.71zM1%201l1.78%205.29.49-2.34%202.34%202.34.71-.71-2.35-2.34%202.35-.48L1%201zM12.73%2012.05l-2.34-2.34-.7.7%202.34%202.35-2.34.48L15%2015l-1.78-5.29-.49%202.34zM5.61%209.71l-2.34%202.34-.49-2.34L1%2015l5.32-1.76-2.35-.48%202.35-2.35-.71-.7z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-snap-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-snap%3C%2Ftitle%3E%3Cpath%20d%3D%22M8.52%2014l-2.17-2.17%201.3-1.3%202.17%202.17-1.3%201.3M6.13%203.35a4.61%204.61%200%200%201%206.52%206.52l-2.39%202.39-2.17-2.17%202.38-2.39A1.54%201.54%200%200%200%208.3%205.52L5.91%207.91%203.74%205.74zM2%207.48l1.3-1.3%202.18%202.17-1.3%201.3z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-unlocked-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-tools-scaleLock%3C%2Ftitle%3E%3Cpath%20d%3D%22M11%201a4%204%200%200%200-4%204v2H1v8h10V7H9V5a2%202%200%200%201%204%200v3h2V5a4%204%200%200%200-4-4z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-vertical-crosshair-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-cursor-vert%3C%2Ftitle%3E%3Cpath%20d%3D%22M9%205.18V2H7v3.18a3%203%200%200%200%200%205.63V14h2v-3.18a3%203%200%200%200%200-5.64zM8%2010a2%202%200%201%201%202-2%202%202%200%200%201-2%202z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-visibility-off-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-visibility-none%3C%2Ftitle%3E%3Cpath%20d%3D%22M14.58%206.71a6.65%206.65%200%200%201-1%201.79%205.33%205.33%200%200%201-1.51%201.43A7%207%200%200%201%208%2011a7%207%200%200%201-4.07-1.08A5.33%205.33%200%200%201%202.42%208.5a6.65%206.65%200%200%201-1-1.79A4.16%204.16%200%200%200%201%208s1.13%204%207%204%207-4%207-4a4.16%204.16%200%200%200-.42-1.29z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-visibility-on-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eicon-graph-visibility%3C%2Ftitle%3E%3Cpath%20d%3D%22M9.64%2011.33C13.37%2010.76%2014%208.12%2014%208.12a5.43%205.43%200%200%200-4.25-3.19%203.69%203.69%200%200%201-.12%206.41m-1.53-.26a2.9%202.9%200%200%200%202.83-3%202.9%202.9%200%200%200-2.83-3%202.75%202.75%200%200%200-1.7.6l-.36-.51a3.42%203.42%200%200%201%20.62-.4C2.69%205.31%202%208.12%202%208.12s.88%202.59%204.57%203.19A3.63%203.63%200%200%201%204.66%208.1l.06-.62.6.11v.51a2.91%202.91%200%200%200%202.79%202.97zM7.84%204C13.72%204%2015%208.12%2015%208.12s-1%204.12-6.84%204.12S1%208.12%201%208.12%202%204%207.84%204zm.27%202.11A1.94%201.94%200%200%201%2010%208.1a1.94%201.94%200%200%201-1.89%202%201.94%201.94%200%200%201-1.9-2v-.34l1.86.34L7%206.52a1.82%201.82%200%200%201%201.11-.41z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-zoom-out-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eni-zoom-out-icon%3C%2Ftitle%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M10.87%2010.22l-2.21-2.2%202.23-2.22.46%201.2L13%203%209%204.67l1.22.46-2.2%202.2L5.8%205.11%207%204.65%203%203l1.67%204%20.46-1.22%202.2%202.2-2.22%202.22L4.65%209%203%2013l4-1.67-1.22-.46%202.2-2.21%202.22%202.23-1.2.46L13%2013l-1.67-4-.46%201.22z%22%2F%3E%3Cpath%20fill%3D%22%23575757%22%20d%3D%22M5%201H1v4h1V2h3V1zM14%2011v3h-3v1h4v-4h-1zM14%201h-3v1h3v3h1V1h-1zM2%2014v-3H1v4h4v-1H2z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2323acff%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M-12%2026h74v-36h289v160H-12V26z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ni-zoom-region-icon {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Eni-zoom-region-icon%3C%2Ftitle%3E%3Cpath%20d%3D%22M11.78.94a3.28%203.28%200%201%200%203.28%203.28A3.28%203.28%200%200%200%2011.78.94M9.49%208l-4.77%204.73A.94.94%200%201%201%203.4%2011.4l4.86-4.85a4.22%204.22%200%201%201%201.33%201.28zM0%201h1v2H0zM4%200v1H2V0zM8%200v1H6V0zM0%205h1v2H0zM0%209h1v2H0zM0%2013h1v2H0zM4%2015v1H2v-1zM8%2015v1H6v-1zM12%2015v1h-2v-1zM16%2015v1h-2v-1zM16%2013h-1v-2h1z%22%20fill%3D%22%23575757%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

