/* This stylesheet will turn the body element of the page into a flex container.

   The effect is that all elements contained by the body element will be placed
   into a column that is centered on the page.

   Note: This will also impact other elements added via the Source Panel.

   The style only takes effect when the webvi-center class is added to the body.
   This prevents centering items when viewed inside the LabVIEW NXG environment.

   See WebVICenter.js for the JavaScript that conditionally adds the 
   webvi-center class to the body element based on where the page is running.
*/
body.webvi-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* In a built WebVI the element with id FrontPanelCanvas is used to contain
   the Front Panel control Custom Elements. As the elements have absolute
   positioning they are removed from the flow of page layout.
   
   As all the child elements of FrontPanelCanvas have absolute positioning
   the FrontPanelCanvas element itself has no child elements to contribute to
   its size.
   
   In the following css we assign a size to the FrontPanelCanvas element
   so that the centering configuration of the body can correctly determine how
   to place the FrontPanelCanvas on the page.   

   Note: If the WebVI height and width are modified the following must be
   updated to reflect the new size.
*/
body.webvi-center #FrontPanelCanvas {
    position: relative;
    width: 320px; /* Must be updated if panel dimensions are changed */
    height: 480px; /* Must be updated if panel dimensions are changed */
    display: block;
}
