*.gcompcache
*.niaddoncache
*.niaddoncache-journal
*.lvcodedb
*.lvcompile
*.aliases
*.lvlps
*.gcompcache-journal
*.lvcompile
*.DS_Store
*.slicache
*.gtypecache
*.dllcache
*.nipkg
*.jslicache
/node_modules
*.lvindexcache
*.tdms_index
**/.cache/*
!**/.cache/*.gwebprojectcache
