/*Element Styles*/
body {
  padding: 0px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
  min-width: 375px;
}

/*ID Styles*/
#hero {
  background-color: #00ADEF;
  color: #FFFFFF;
  height: 160px;
  margin-top: 48px;
  font-size: 28px;
}

#hero h1 {
  font-size: 125px;
  margin: auto;
}

#hero .left-content  {
 margin-top: 10px;
 height: 160px;
 float:left;
 text-align: right;
}

#hero .right-content  {
 margin-top: 36px;
 margin-left: 4px;
 height: 160px;
 float:right;
 text-align: left;
}

/*Class Styles*/
.section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  flex-wrap: nowrap;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
