/*jqxFormattedInput and jqxComplexInput*/
.jqx-complex-input-spin-buttons-container {
    border-width: 1px;
    border-style: solid;
    position: relative;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 2px 8px !important;
    white-space: nowrap;
    vertical-align: middle;
}

.jqx-formatted-input, .jqx-complex-input {
    padding-right: 2px !important;
}

.jqx-formatted-input-lower-case, .jqx-complex-input-lower-case {
    text-transform: lowercase;
}

.jqx-formatted-input-upper-case, .jqx-complex-input-upper-case {
    text-transform: uppercase;
}

.jqx-formatted-input-item {
    word-wrap: break-word;
}

.jqx-formatted-input-item-rtl, .jqx-complex-input-rtl {
    direction: rtl !important;
}

.jqx-formatted-input-spin-buttons-container, .jqx-formatted-input-addon, .jqx-formatted-input-icon {
    height: 100%;
}

.jqx-formatted-input-spin-buttons-container {
    padding-left: 1px;
    padding: 0 0 0 1px !important;
    overflow: hidden;
}

.jqx-formatted-input-spin-buttons-container-rtl {
    border-right-width: 0px;
    padding: 0 0 0 2px !important;
}

.jqx-formatted-input-spin-buttons-container-rtl-border {
    border-left-width: 1px !important;
}

.jqx-formatted-input-spin-button {
    position: relative;
    height: 50%;
    margin-left: -1px;
    border-width: 0px;
    padding: 0px;
    overflow: hidden;
    cursor: pointer;
}

.jqx-formatted-input-addon {
    width: 19px;
    padding: 0 !important;
    cursor: pointer;
}

.jqx-formatted-input-addon-rtl {
    border-right-width: 1px !important;
}

.jqx-complex-input-parent {
    overflow: hidden;
}

.jqx-complex-input-child {
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.jqx-complex-input-child-rtl {
    float: right;
}

.jqx-complex-input-spin-buttons-container-ltr {
    border-left-width: 0;
}

.jqx-complex-input-spin-buttons-container-rtl {
    border-left-width: 1px !important;
    border-right-width: 0;
}

.jqx-formatted-input-align-left, .jqx-complex-input-align-left {
    text-align: left;
}

.jqx-formatted-input-align-right, .jqx-complex-input-align-right {
    text-align: right;
}

.jqx-formatted-input-align-center, .jqx-complex-input-align-center {
    text-align: center;
}

/*jqxPathControl*/
.jqx-path-control, .jqx-path-control-input, .jqx-path-control-button {
    box-sizing: border-box;
}

.jqx-path-control {
    position: relative;
    border-width: 1px;
    border-style: dashed;
}

.jqx-path-control-transparent-border {
    border-color: transparent !important;
}

.jqx-path-control-input, .jqx-path-control-button {
    position: absolute;
}

.jqx-path-control-input {
    height: 100%;
}

.jqx-path-control-input-invalid {
    border-color: Red;
}

.jqx-path-control-input-rtl {
    margin-left: 3px !important;
    direction: rtl;
}

.jqx-path-control-button {
    cursor: pointer;
}

.jqx-path-control-button-disabled {
    cursor: default;
}

.jqx-path-control-input-rtl, .jqx-path-control-button-ltr {
    right: 0;
}

.jqx-path-control-button-rtl {
    left: 0;
}

/*jqxArray*/
.jqx-array, .jqx-array-indexer-container, .jqx-array-indexer, .jqx-array-central-container {
    box-sizing: border-box;
}

.jqx-array-indexer-container, .jqx-array-big-container, .jqx-array-central-container, .jqx-array-scrollbar-container-vertical {
    float: left;
}

.jqx-array-indexer {
    margin-bottom: 2px;
}

.jqx-array-element-gap {
    border-collapse: collapse;
}

.jqx-array-table-data {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    white-space: nowrap;
    min-width: 0px;
    padding: 0;
}

.jqx-array-table-data-gap {
    border-width: 6px;
}

.jqx-array-element {
    position: relative;
}

.jqx-array-element-selected {
    border-color: Blue;
}

.jqx-array-scrollbar-container-horizontal {
    height: 18px;
}

.jqx-array-scrollbar-container-vertical {
    width: 18px;
}

/*jqxGauge and jqxSlider*/
.jqx-gauge-label-input, .jqx-slider-label-input {
    visibility: hidden;
    position: absolute;
    border: none;
}

.jqx-slider-label-input {
    z-index: 9999;
}
