/*Element Styles*/
body {
  padding: 0px;
  font-family: Helvetica, sans-serif;
  margin: 0px;
  min-width: 375px;
}

ni-text[ni-control-id='242'] {
  background-color: #00ADEF;
}

/*Class Styles*/
.section {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
}
