ni-front-panel {
    background-color: #00adef;
    box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.75);
}

.background-white {
    background-color: white;
}

jqx-switch-button[checked] span.jqx-thumb::after,
jqx-switch-button[checked]:hover span.jqx-thumb::after {
    background: yellow;
}

jqx-slider .jqx-container .jqx-track::before {
    background: transparent;
    border: none;
}

jqx-slider .jqx-track .jqx-value {
    background: yellow;
}

jqx-slider .jqx-scale {
    --ni-foreground-color: white;
    color: var(--ni-foreground-color);
}

.progressbar-bg-yellow {
    --ni-fill-background: yellow;
}

.button-true-bg-yellow {
    --ni-true-background: yellow;
}

.button-true-fg-darkgray {
    --ni-true-foreground-color: #2b3033;
}

.progressbar-bg-red {
    --ni-fill-background: red;
}

.button-true-bg-red {
    --ni-true-background: red;
}

ni-cartesian-graph {
    background: transparent;
    border: none;
}

ni-cartesian-graph .flot-x-axis text,
ni-cartesian-graph .flot-y-axis text {
    fill: white;
}

ni-cartesian-graph text.axisLabels {
    fill: lightgray;
}

jqx-tank .jqx-scale {
    --ni-foreground-color: darkblue;
    color: var(--ni-foreground-color);
}

jqx-numeric-text-box input {
    color: white;
}

jqx-numeric-text-box {
    --ni-border: none;
    --ni-indicator-background-color: transparent;
    --ni-control-background-color: transparent;
}
